.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    col{
        padding: 10px;

        image{
            width: 150%;
            margin-top: 10px;
            padding-left: 200px;
            text-align: center;
        }
    }
}

